<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <appSettings>
    <add key="com.dneonline.www.calculator" value="http://www.dneonline.com/calculator.asmx"/>
    <add key="net.kowabunga.currencyconverter.converter" value="http://currencyconverter.kowabunga.net/converter.asmx"/>
  <add key="org.oorsprong.CountryInfoService" value="http://oorsprong.org/websamples.countryinfo/CountryInfoService.wso"/>
  </appSettings>
</configuration>